.card_container{
    margin-top: 1.5rem;
   position: relative;
    display: block;
    width: 22.5rem;
    height: 30rem;
    text-align: center;
    background-color: hsla(0,0%,94.1%,.8);
    border-radius: 1rem;
    margin: 2rem;
    border: .1rem solid hsla(0,0%,100%,.4);
    color: #464646;
    box-shadow: 0.2rem 0.2rem 1rem rgb(20 20 20 / 80%); 
}
 
.image img {
   
    display: block;
    position: absolute;
    top: 90px;
    left: 57px;
    border-radius: 16px;
    height: 192px;
    width: 250px;
    object-fit: cover;
    object-position: center center;
}

.card_title{
    text-transform: capitalize;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    font-size: 25px;
    font-family: 'Fredoka One', cursive;
}

.diets_card{
    text-align: justify;
    font-family: 'Fredoka One', cursive;
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 80px; 
    text-align: justify;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: .5rem auto;
}

.diets_card span{
    font-size: 15px;
    margin: .2rem;
    padding: .2rem .3rem;
    border-radius: .3rem;
    
}

.button_card{
    font-family: 'Fredoka One', cursive;
    font-size: 17px;
    position: absolute;
    right: 30px;
    bottom: 30px;
}